{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load crispy_forms_tags %}
{% bootstrap_javascript %}

{% if request.user.is_authenticated %}
    {% block content1 %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var navLink = document.querySelector('.nav-link[data-bs-target="#collapseInventario"]');
                navLink.setAttribute("href", "{% url 'serverhost_list' %}");
                var collapseElement = document.querySelector('#collapseInventario');
                collapseElement.classList.add("show");
            });
        </script>
        <link href="{% static 'css/styles2.css' %}" rel="stylesheet" />

        <main>
            <div class="container-fluid px-4">
                <div class="row text-center">
                    <div>&nbsp;</div>
                </div>          
                <div class="row d-flex justify-content-bottom">
                    <div class="card mb-4">
                        <form id="serverhostForm" method="GET">
                            <div class="row">
                                <div class="col-md-11 mx-auto">
                                    <label for="hostname">Digite o nome do Server Host</label>
                                    <input type="text" class="form-control" name="hostname" id="PesquisaHostname" value="{{ request.GET.hostname }}">
                                </div>
                                <div class="col-md-1 flex-fill d-flex flex-column align-items-center align-baseline">
                                    <div>&nbsp;</div>
                                    <button type="submit" class="btn btn-primary mb-1">Pesquisar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="card mb-4">
                        <div class="card-header">Filtro avançado</div>
                    </div>
                </div>
                <div class="row">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Server host
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="table small-font-table">
                                <thead class="table-striped thead-dark">
                                    <tr>
                                        <th>Trilha</th>
                                        <th>Host Name</th>                                        
                                        <th>Sistema Operacional</th>
                                        <th>Tipo</th>
                                        <th>IP</th>
                                        <th>CPU</th>
                                        <th>Memória RAM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lsh in list_serverHost %}
                                    <tr>
                                        <td>{{ lsh.trilha }}</td>
                                        <td>
                                            <a href="{% url 'serverhost_detail' lsh.pk %}" class="nav-link">{{ lsh.hostname }}</a>
                                        </td>
                                        <td>{{ lsh.sistemaoperaciona }}</td>
                                        <td>{{ lsh.fisicovm }}</td>                                        
                                        <td>{{ lsh.ipaddress }}</td>
                                        <td>{{ lsh.cpu }}</td>
                                        <td>{{ lsh.memoryram }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6">Server host não localizado</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="row">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if list_serverHost.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?{% if request.GET.hostname %}hostname={{ request.GET.hostname }}&{% endif %}page={{ list_serverHost.previous_page_number }}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link">&laquo;</span>
                                            </li>
                                        {% endif %}

                                        {% for num in list_serverHost.paginator.page_range %}
                                            {% if list_serverHost.number == num %}
                                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                            {% elif num > list_serverHost.number|add:-3 and num < list_serverHost.number|add:3 %}
                                                <li class="page-item"><a class="page-link" href="?{% if request.GET.hostname %}hostname={{ request.GET.hostname }}&{% endif %}page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if list_serverHost.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?{% if request.GET.hostname %}hostname={{ request.GET.hostname }}&{% endif %}page={{ list_serverHost.next_page_number }}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link">&raquo;</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endblock content1 %}
{% else %}
    {% block content2 %}
        <div id="apresentacao-container"></div>
    {% endblock content2 %}
{% endif %}

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

<!-- Evento -->
<script>
    $(document).ready(function() {
        $('#serverhostForm').submit(function(event) {
            event.preventDefault();
            var hostname = $('#PesquisaHostname').val();
            $.get('{% url "serverhost_detail" %}?hostname=' + hostname, function(data) {
                $('#apresentacao-container').html(data);
            });
        });
    });
</script>
