{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load crispy_forms_tags %}
{% bootstrap_javascript %}

{% if request.user.is_authenticated %}
    {% block content1 %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var navLink = document.querySelector('.nav-link[data-bs-target="#collapseInventario"]');
                navLink.setAttribute("href", "{% url 'serverhost_list' %}");
                var collapseElement = document.querySelector('#collapseInventario');
                collapseElement.classList.add("show");
            });
        </script>
        <link href="{% static 'css/styles2.css' %}" rel="stylesheet" />

        <main>
            <div class="container-fluid px-4">
                <div class="row text-center">
                    <div>&nbsp;</div>
                </div>          

                <div class="row d-flex justify-content-bottom">
                    <div class="card mb-4">
                        <form id="serverhostForm" method="GET">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-10">
                                    <label for="hostname">Digite o nome do Server Host</label>
                                    <input type="text" class="form-control w-100" name="hostname" id="PesquisaHostname" value="{{ request.GET.hostname }}">
                                </div>
                                
                                <div class="col-md-2 d-flex flex-row justify-content-end">
                                    {% if request.GET.hostname %}
                                        <a class="btn btn-primary mb-1 me-2" href="{% url 'serverhost_list' %}?limit={{ page_obj.paginator.per_page }}">Reset</a>
                                    {% endif %}
                                    <button type="submit" class="btn btn-primary mb-1">Pesquisar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="card mb-4">
                        <div class="card-header">Filtro avançado</div>
                    </div>
                </div>
                <div class="row">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Server host
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="table small-font-table">
                                <thead class="table-striped thead-dark">
                                    <tr>
                                        <th>Trilha</th>
                                        <th>Host Name</th>                                        
                                        <th>Sistema Operacional</th>
                                        <th>Tipo</th>
                                        <th>IP</th>
                                        <th>CPU</th>
                                        <th>Memória RAM</th>
                                        <th>Zabbix</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lsh in page_obj %}
                                    <tr>
                                        <td>{{ lsh.trilha }}</td>
                                        <td>
                                            <a href="{% url 'serverhost_detail' lsh.pk %}" class="nav-link">{{ lsh.hostname }}</a>
                                        </td>
                                        <td>{{ lsh.sistemaoperaciona }}</td>
                                        <td>{{ lsh.fisicovm }}</td>                                        
                                        <td>{{ lsh.ipaddress }}</td>
                                        <td>{{ lsh.cpu }}</td>
                                        <td>{{ lsh.memoryram }}</td>
                                        <td>{{ lsh.zabbix }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="8">Server host não localizado</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="row">
                                {% include 'paginacao_h.html' %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endblock content1 %}
{% else %}
    {% block content2 %}
        <div id="apresentacao-container"></div>
    {% endblock content2 %}
{% endif %}

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

<!-- Evento -->
<script>
    $(document).ready(function() {
        $('#serverhostForm').submit(function(event) {
            event.preventDefault();
            var hostname = $('#PesquisaHostname').val();
            $.get('{% url "serverhost_detail" %}?hostname=' + hostname, function(data) {
                $('#apresentacao-container').html(data);
            });
        });
    });
</script>
