{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load crispy_forms_tags %}
{% bootstrap_javascript %}


{% if request.user.is_authenticated %}
    {% block content1 %}


    <main>
        <div class="container-fluid px-4">
            <div class="row text-center">
                <div>&nbsp;</div>
            </div>          
            <div class="row d-flex  justify-content-bottom ">
                <div class="card mb-4  " >
                    <form id="serverhostForm" method="GET">
                        <div class="row">
                            <div class="col-md-11 mx-auto">
                                <label for="hostname">Active directory</label>
                                <input type="text" class="form-control" name="hostname" id="PesquisaHostname" value="{{ request.GET.hostname }}">
                            </div>
                            <div class="col-md-1 flex-fill d-flex flex-column align-items-center align-baseline  " >
                                <div>&nbsp;</div>
                                <button type="submit" class="btn btn-primary mb-1">Pesquisar</button> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    {% endblock content1 %}
    {% else %}
        {% block content2 %}
            <div id="apresentacao-container"></div>
        {% endblock content2 %}
    
    {% endif %}    