{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="Description" content="Ajudando a gerenciar o seu ambiente de TI." />
        <meta name="author" content="José Abelardo Vicente Filho" />
        <title>Sentinel Data Suite</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script>
            var serverHostUrl = "{% url 'serverhost_list' %}";
        </script>
        
        <script src="{% static 'js/app.js' %}"></script> 
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>  

    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

            <!-- Logo marca-->
            <img src="{% static 'imagens/globalweb_com_br_logo-VI.png' %}" class="img-fluid" alt="Imagem responsiva">

            <!-- Navbar Brand-->
            <a class="navbar-brand " href="{% url 'index' %}">Sentinel Data Suite - Global Web</a>

                <!-- Sidebar Toggle-->
                {% if request.user.is_authenticated %}
                        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                                class="fas fa-bars"></i></button>                
                {% endif %}

                <!-- Log e nome do cliente-->
                    <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">                    
                        <img src="{% static 'imagens/aeb_logo_transp_letraazul77x45.png' %}" class="img-fluid" alt="Imagem responsiva">
                    </div>
                    <div> 
                        <a class="navbar-brand " href="{% url 'index' %}">-&nbsp;&nbsp;&nbsp;Agência Espacial Brasileira</a>                   
                        
                    </div>                    
                {% if request.user.is_authenticated %}                                
                    <!-- Navbar Search-->
                    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Pesquisar aqui.." aria-label="Pesquisar aqui.."
                                aria-describedby="btnNavbarSearch" />
                            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </form>

                    <button id="toggle-theme-btn" onclick="toggleTheme()">
                        <i id="theme-icon" class="fas fa-sun"></i> <!-- Ícone do sol -->
                    </button>

                    <!-- Navbar-->
                    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                
                                <li><a class="dropdown-item" href="#!"><i class="fa fa-user-circle" ></i>&nbsp;{{ request.user }}</a></li>
                                <!--<li><a class="dropdown-item" href="#!">Activity Log</a></li>-->
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true" ></i>&nbsp; Logout</a></li>
                                
                            </ul>
                        </li>
                    </ul>
                {% endif %}
        </nav>
        {% if request.user.is_authenticated %}
            <div id="layoutSidenav">                
                <div id="layoutSidenav_nav">   
                    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                        <!-- Barra do menu -->
                        <div class="sb-sidenav-menu">
                            <div class="nav">
                                <!-- Inventário -->
                                <div class="sb-sidenav-menu-heading">&nbsp;</div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInventario" aria-expanded="false"
                                    aria-controls="collapseInventario">
                                    <div class="sb-nav-link-icon"><h5><i class="fa-solid fa-warehouse"></i></div></h5>
                                    <h5>&nbsp; Inventário</h5>
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseInventario" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'serverhost_list' %}"><i class="fa-solid fa-server"></i>&nbsp; Server Hosts</a>
                                        <a class="nav-link" href="{% url 'DataBaseList' %}"><i class="fa-solid fa-database"></i>&nbsp; Banco de dados </a>
                                        <a class="nav-link" href="#!"><i class="fa-solid fa-file"></i>&nbsp; File Server</a>
                                        <a class="nav-link" href="#!"><i class="fa-solid fa-hard-drive"></i>&nbsp; Storage</a>
                                    </nav>
                                </div>

                                <!-- Modulos -->
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseModulos" aria-expanded="false"
                                    aria-controls="collapseModulos">
                                    <div class="sb-nav-link-icon"><h5><i class="fa-solid fa-arrows-to-circle"></i></div></h5>
                                        <h5>&nbsp; Modulos</h5>
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseModulos" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">

                                        <a class="nav-link collapsed" href="" data-bs-toggle="collapse" data-bs-target="#collapseActiveDirectory" aria-expanded="false" aria-controls="collapseActiveDirectory">
                                            <i class="fa-solid fa-users-between-lines"></i>&nbsp; Active Directory
                                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="collapseActiveDirectory" aria-labelledby="headingOne" data-bs-parent="#collapseModulos">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                <a id="sds_active_directory_dashboard_Link" class="nav-link" href="">
                                                    <div><i class="fa fa-line-chart" aria-hidden="true"></i>
                                                        </div>&nbsp;DashBoard</a>
                                                <a id="sds_active_directory_DomainController_Link" class="nav-link" href="">
                                                    <div><i class="fas fa-hdd" aria-hidden="true"></i>
                                                        </div>&nbsp;Domain Controller</a>
                                                <a id="sds_active_directory_Computadores_Link"class="nav-link" href="">
                                                    <div><i class="fas fa-laptop" aria-hidden="true"></i>
                                                        </div>&nbsp;Computadores</a>
                                                <a id="sds_active_directory_Grupos_Link"class="nav-link" href="">
                                                    <div><i class="fas fa-users" aria-hidden="true"></i>
                                                        </div>&nbsp;Grupos</a>
                                                <a id="sds_active_directory_Usuarios_Link"class="nav-link" href="">
                                                    <div><i class="fas fa-user-circle" aria-hidden="true"></i>
                                                        </div>&nbsp;Usuários</a> 
                                                <a id="sds_active_directory_Contatos_Link"class="nav-link" href="">
                                                    <div><i class="fas fa-poll-h" aria-hidden="true"></i>
                                                        </div>&nbsp;Contatos</a>
                                                <a id="sds_active_directory_GPO_Link"class="nav-link" href="">
                                                    <div><i class="fas fa-share-alt" aria-hidden="true"></i>
                                                        </div>&nbsp;GPO</a>
                                                <a id="sds_active_directory_OU_Link"class="nav-link" href="">
                                                    <div><i class="far fa-folder-open" aria-hidden="true"></i>
                                                        </div>&nbsp;OU - Unidade Organizacional</a>
                                            </nav>
                                        </div>
                                        <a id="sds_hyperv_apresentacao_Link" class="nav-link" href=""><i class="fa-brands fa-windows"></i>&nbsp;Hyper-V</a>
                                        <a id="sds_nutanix_apresentacao_Link" class="nav-link" href=""><i class="fa-solid fa-mountain-city"></i>&nbsp;Nutanix</a>
                                        <a id="sds_vmware_apresentacao_Link" class="nav-link" href=""><i class="fa-solid fa-toilets-portable"></i>&nbsp;VMware</a>
                                        <a id="sds_listMSrvHost_Link" class="nav-link" href=""><i class="fa-solid fa-file-signature"></i>&nbsp;Cad manual SH</a>
                                        <a id="sds_sccm_apresentacao_Link" class="nav-link" href=""><i class="fa-solid fa-timeline"></i>&nbsp;SCCM</a>
                                        <a id="sds_db_apresentacao_Link" class="nav-link" href=""><i class="fa-solid fa-coins"></i>&nbsp;Banco de dados</a>                                          
                                        <a class="nav-link" href=""><i class="fa-solid fa-folder-tree"></i>&nbsp;File Server</a>
                                        <a class="nav-link" href=""><i class="fa-solid fa-boxes-stacked"></i>&nbsp;Storage</a>                                                                              

                                    </nav>
                                </div>

                                <!-- Relatórios -->
                                <a class="nav-link collapsed" href="" data-bs-toggle="collapse" data-bs-target="#collapseRelatorios" aria-expanded="false"
                                    aria-controls="collapseRelatorios">
                                    <div class="sb-nav-link-icon"><h5><i class="fa-solid fa-file-signature"></i></i></div></h5>
                                        <h5>&nbsp; Relatórios</h5>
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseRelatorios" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href=""><i class="fa-solid fa-shield-halved"></i>&nbsp;Relatório 01</a>
                                        <a class="nav-link" href=""><i class="fa-solid fa-book"></i>&nbsp;Relatório 02</a>
                                        <a class="nav-link" href=""><i class="fa-solid fa-sliders"></i>&nbsp;Relatório 03</a>
                                        <a class="nav-link" href=""><i class="fa-brands fa-codepen"></i>&nbsp;Relatório 04</a>
                                        <a class="nav-link" href=""><i class="fa-solid fa-layer-group"></i>&nbsp;Relatório 05</a>
                                        <a class="nav-link" href=""><i class="fa-solid fa-newspaper"></i>&nbsp;Relatório 06</a>
                                        <a class="nav-link" href=""><i class="fa-solid fa-sitemap"></i>&nbsp;Relatório 07</a>
                                        <a class="nav-link" href=""><i class="fa-solid fa-microchip"></i>&nbsp;Relatório 08</a>
                                        <a class="nav-link" href=""><i class="fa-solid fa-cube"></i>&nbsp;Relatório 08</a>
                                        <a class="nav-link" href=""><i class="fa-solid fa-fingerprint"></i>&nbsp;Relatório 09</a>
                                        <a class="nav-link" href=""><i class="fa-solid fa-dice"></i>&nbsp;Relatório 10</a>
                                    </nav>
                                </div>

                                <!-- Configurações -->
                                <a class="nav-link collapsed" href="" data-bs-toggle="collapse" data-bs-target="#collapseConfiguracoes" aria-expanded="false"
                                    aria-controls="collapseConfiguracoes">
                                    <div class="sb-nav-link-icon"><h5><i class="fa-solid fa-gears"></i></div></h5>
                                        <h5>&nbsp; Configurações</h5>
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseConfiguracoes" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/admin/"><i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;Administração</a>
                                    </nav>
                                </div>

                            </div>
                        </div>
                        <div class="sb-sidenav-footer">
                            <div class="small">&nbsp;
                            &nbsp;
                        </div>
                    </nav>
                </div>
                <div id="layoutSidenav_content">
                    {% block content1 %}
                        <div id="apresentacao-container"></div>
                    {% endblock content1 %}
                </div>               
            </div>
        {% else %}
            <div class="m-0 vh-100 bg-primary row justify-content-center align-items-center">
                <div class=" p-5 ">
                    <div id="layoutSidenav_content">
                        {% block content2 %}
                            <div id="apresentacao-container"></div>
                        {% endblock content2 %}

                    </div>  
                </div>
            </div>
        {% endif %}  

        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>        
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        


    </body>
</html>
    