{% extends 'base.html' %}
{% load static %}

{% load bootstrap5 %}

{% bootstrap_css %}

{% load crispy_forms_tags %}

{% bootstrap_javascript %}

{% block content2 %}


                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">

                                                    <form action="" method="POST">

                                                        {% csrf_token %}

                                                        {{ form|crispy }}

                                                        <div class="form-check mb-3">
                                                            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                                            <label class="form-check-label" for="inputRememberPassword">Lembra a senha</label>
                                                        </div>                                                        

                                                            <button type="submit" class="btn btn-primary mt-3">Entrar</button>

                                                    </form>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock content2 %}